<div class="about-me-row">
  <div class="row">

    <div class="col-md-6 col-sm-6">
      <h1 class="text-center">My Story</h1>
      <%= image_tag('family.jpg', class: 'img-responsive text-center') %>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lacinia neque ac adipiscing sagittis. Curabitur bibendum massa quis tellus fermentum ultrices. Maecenas sed libero ut elit mollis suscipit. Nunc placerat mi mauris, vel pretium nisl commodo id. Suspendisse potenti. Phasellus porta ut risus id dictum. Fusce vulputate placerat metus et dapibus. Sed hendrerit varius diam, sed tempus libero feugiat eu. Ut vel felis ac purus dapibus gravida ac nec augue. Praesent fringilla lectus non risus lobortis accumsan. Morbi scelerisque quam dolor, vel hendrerit dolor condimentum eu. Sed ligula sapien, elementum sed scelerisque ut, rhoncus et justo. In et consequat urna, sit amet consectetur augue.</p>
    </div>

    <div class="col-md-6 col-sm-6">
      <h1 class="text-center">Schedule Consultation</h1>
      <h5>To schedule an appointment or find out more information please call me at <b>(555) 555-5555</b> or tell me about yourself and I will be in touch:</h5>
      <%= form_for @message do |f| %>
        <% if @message.errors.any? %>
          <div class="error_messages">
            <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being sent:</h2>
            <ul>
              <% @message.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <%= render 'shared/fields', f: f %>
        <div class="form-group text-center">
          <%= f.submit "Send Message", class: "btn btn-default btn-primary custom-btn" %>    
        </div>
      <% end %>
    </div>
    
  </div>
</div>
