<!-- sheet cakes, layered cakes, cookies, macaroons, truffles -->
<%= provide(:title, "Baked Goods") %>
<ol class="breadcrumb">
    <li><%= link_to "Home", root_path %></li>
    <li class="active"><%= link_to "Baked Goods", baked_goods_path %></li>
</ol>
<h1 class="text-center">Baked Goods</h1>


<%= link_to "#" do %>
    <div class = "col-md-6 col-lg-4 col-sm-12">
        <div class="thumbnail">
            <%= image_tag("cake_1.png") %>             
            <div class="caption">
                <h2>Layered Cakes</h2>
            </div>
        </div>
    </div>
<% end %>

<%= link_to "#" do %>
    <div class = "col-md-6 col-lg-4 col-sm-12">
        <div class="thumbnail">
<%= image_tag("dessert_4.jpg") %>             <div class="caption">
                <h2>Sheet Cakes</h2>
                
            </div>
        </div>
    </div>
<% end %>

<%= link_to "#" do %>
    <div class = "col-md-6 col-lg-4 col-sm-12">
        <div class="thumbnail">
<%= image_tag("dessert_3.jpg") %>             <div class="caption">
                <h2>Cookies</h2>
                
            </div>
        </div>
    </div>
<% end %>

<%= link_to "#" do %>
    <div class = "col-md-6 col-lg-4 col-sm-12">
        <div class="thumbnail">
<%= image_tag("Valentines_Heart.png") %>             <div class="caption">
                <h2>Macaroons</h2>
                
            </div>
        </div>
    </div>
<% end %>

<%= link_to "#" do %>
    <div class = "col-md-6 col-lg-4 col-sm-12">
        <div class="thumbnail">
<%= image_tag("favor_1.png") %>             <div class="caption">
                <h2>Cupcakes</h2>
                
            </div>
        </div>
    </div>
<% end %>

<%= link_to "#" do %>
    <div class = "col-md-6 col-lg-4 col-sm-12">
        <div class="thumbnail">
<%= image_tag("cake_2.png") %>             <div class="caption">
                <h2>Truffles</h2>
                
            </div>
        </div>
    </div>
<% end %>    
