<!-- 
<h1>SweetLittleButtercups</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
 -->

 <!-- Carousel with captions -->
<div class="carousel slide bs-docs-carousel-example" id="carousel-example-generic2">
  <ol class="carousel-indicators">
    <li class="" data-slide-to="0" data-target="#carousel-example-generic2"></li>
    <li data-slide-to="1" data-target="#carousel-example-generic2" class=""></li>
    <li data-slide-to="2" data-target="#carousel-example-generic2" class="active"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag('carousel.png', alt: "First slide", "data-src"=>"holder.js/900x500/auto/#777:#555/text:First slide") %>
      <div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag('carousel.png', alt: "Second slide", "data-src"=>"holder.js/900x500/auto/#777:#555/text:Second slide") %>
      <div class="carousel-caption">
        <h3>Second slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </div>
      <div class="item">
      <%= image_tag('carousel.png', alt: "Second slide", "data-src"=>"holder.js/900x500/auto/#777:#555/text:Second slide") %>
      <div class="carousel-caption">
        <h3>Third slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </div>
  </div>
  <%= link_to "#carousel-example-generic2", "data-slide"=> "prev", class: "left carousel-control" do %>
    <span class="icon-prev"></span>
  <% end %>
<%= link_to "#carousel-example-generic2", "data-slide"=> "next", class: "right carousel-control" do %>
    <span class="icon-next"></span>
  <% end %>
</div>