<div class="col-md-12 text-right hidden-xs ">

  <nav class="navbar navbar-default text-center zero-padding  col-md-12" role="navigation">
    <ul class="nav navbar-nav zero-padding ">
      <li><%= link_to "Baked Goods", baked_goods_path %></li>
      <li><%= link_to "Paper Goods", paper_goods_path %></li>
      <li><%= link_to "Party Favors", party_favors_path %></li>
      <li><%= link_to "Events", events_path %></li>
      <li><%= link_to "About Me", about_path %></li>
      <li><%= link_to "Contact Us", contact_path %></li>
    </ul>
   

  </nav>

</div>
<div class="row ">
  
  <div class= "col-md-4 text-center hidden-xs left_footer_column ">
    <h4>Visit Our Friends At:</h4>
    <address class="text-left">
      <strong>Mulberry Market</strong><br>
     30 New Jersey Rte.34<br>
     Colts Neck, NJ 07722<br>
     <abbr title="Phone">P:</abbr> (732) 683-0202
    </address>
  </div>
  
  <div class="col-md-4 text-center   ">
                  <%= link_to image_tag('logo_transparent_background3.png'), root_path %>
  </div>

  <div class="col-md-4 text-center web-designer">
    <strong> Site Designed By: <%= mail_to("sethaltshuler@gmail.com", "Seth B. Atshuler") %></strong>
  </div>
  
</div>