<!-- Desktop Navbar -->
<div class="col-md-12 text-right">
  <nav class="navbar navbar-default text-center hidden-xs" role="navigation">
    <ul class="nav navbar-nav pull-right">
      <li><a href="#">Baked Goods</a></li>
      <li><a href="#">Paper Goods</a></li>
      <li><a href="#">Party Favors</a></li>
      <li><a href="#">Events</a></li>    
      <li><a href="#">About Me</a></li>
      <li><%= link_to "Contact Us", contact_path %></li>
    </ul>
    <div class="col-md-6 pull-right header-contact-info">
      ***Proudly Serving Central New Jersey***&nbsp;&nbsp;
      <i class="fa fa-phone "></i><span text-centers>(555)555-5555</span>&nbsp;&nbsp;
      <span class="header-icons">
        <%= link_to("#") do %><i class="fa fa-facebook-square "></i><% end %>&nbsp;
        <%= link_to("#") do %><i class="fa fa-twitter-square "></i><% end %>
      </span>
      <br />
      <%= link_to("Set Up Consultation", contact_path, class: "custom-btn btn btn-default btn-lrg")  if params[:action]!="home" %>
    </div>
    <%= link_to image_tag('logo.png'), root_path, class: 'navbar-brand col-md-3 col-sm-4' %>
  </nav>
</div>
<!-- /Desktop Navbar -->


<!-- Mobile  -->
  <nav class="navbar navbar-default visible-xs" role="navigation">
<!-- Logo -->
    <div class="col-sm-12 text-center">
      <%= link_to image_tag('logo.png', alt: "Sweet Little Buttercups"), root_path, class: 'text-center'  %>
    </div>

<!-- Navbar -->
    <div class="navbar-header text-center">
      <a class="navbar-brand " href="#">MENU</a>
      <button type="button" class="navbar-toggle pull-none" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

<!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      <li><a href="#">Baked Goods</a></li>
      <li><a href="#">Paper Goods</a></li>
      <li><a href="#">Party Favors</a></li>
      <li><a href="#">Events</a></     
      <li><a href="#">About Me</a></li>
      <li><%= link_to "Contact Us", contact_path %></li>
      </ul>
    </div>
<!-- /Navbar -->
  </nav>
<!-- /Mobile -->
</div>