<!-- Desktop Navbar -->
<div class="col-md-12 text-right hidden-xs">
<div class="col-md-4 col-sm-3">
    <%= link_to image_tag('logo_transparent_background3.png', alt: "Sweet Little Buttercups", class: "logo pull-left"), root_path  %>
 </div>
    <div class="col-md-8 col-sm-9 zero-padding ">
  <nav class="navbar navbar-default text-center zero-padding  col-md-12" role="navigation">
    <ul class="nav navbar-nav pull-right zero-padding ">
      <li><%= link_to "Baked Goods", baked_goods_path %></li>
      <li><%= link_to "Paper Goods", paper_goods_path %></li>
      <li><%= link_to "Party Favors", party_favors_path %></li>
      <li><%= link_to "Events", events_path %></li>
      <li><%= link_to "About Me", about_path %></li>
      <li><%= link_to "Contact Us", contact_path %></li>
    </ul>
    <div class="col-md-10 col-md-offset-2 col-sm-12 pull-right header-contact-info">
      ***Proudly Serving Central New Jersey***&nbsp;&nbsp;
      <i class="fa fa-phone "></i><span text-centers>(555)555-5555</span>&nbsp;&nbsp;
      <span class="header-icons">
        <%= link_to("#") do %><i class="fa fa-facebook-square "></i><% end %>&nbsp;
        <%= link_to("#") do %><i class="fa fa-twitter-square "></i><% end %>
      </span>
      <br />
      <%= link_to("Set Up Consultation", contact_path, class: "custom-btn btn btn-default btn-lrg")  %>
    </div>

  </nav>
</div>
</div>
<!-- /Desktop Navbar -->


<!-- Mobile  -->
  <nav class="navbar navbar-default visible-xs mobile_navbar" role="navigation">
<!-- Logo -->
    <div class="col-sm-12 text-center">
      <%= link_to image_tag('logo_transparent_background3.png', alt: "Sweet Little Buttercups", class: "logo"), root_path  %>
    </div>

<!-- Navbar -->
    <div class="navbar-header text-center">
      <a class="navbar-brand " href="#">MENU</a>
      <button type="button" class="navbar-toggle pull-none" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

<!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      <li><%= link_to "Baked Goods", baked_goods_path %></li>
      <li><%= link_to "Paper Goods", paper_goods_path %></li>
      <li><%= link_to "Party Favors", party_favors_path %></li>
      <li><%= link_to "Events", events_path %></li>
      <li><%= link_to "About Me", about_path %></li>
      <li><%= link_to "Contact Us", contact_path %></li>
      </ul>
    </div>
<!-- /Navbar -->
  </nav>
<!-- /Mobile -->
</div>