<!DOCTYPE html>
<html>
<head>
 <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Poiret+One|Kite+One' rel='stylesheet' type='text/css'>

</head>
<body>
<header>
  <%= render 'layouts/header' %>

</header>
<% if params[:action] == "home" %>

<%= render 'layouts/carousel' %>

<%= render 'layouts/horizontal_break' %>
<% end %>

<div class="container main-body">
<%= yield %>
</div>
</body>
</html>
